In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/raw_test_data.csv')

In [11]:
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,48744.000000,48744.000000,4.874400e+04,4.874400e+04,48720.000000,4.874400e+04,48744.000000,48744.000000,48744.000000,48744.000000,...,48744.000000,48744.0,48744.0,48744.0,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000
mean,277796.676350,0.397054,1.784318e+05,5.167404e+05,29426.240209,4.626188e+05,0.021226,-16068.084605,67485.366322,-4967.652716,...,0.001559,0.0,0.0,0.0,0.002108,0.001803,0.002787,0.009299,0.546902,1.983769
std,103169.547296,0.709047,1.015226e+05,3.653970e+05,16016.368315,3.367102e+05,0.014428,4325.900393,144348.507136,3552.612035,...,0.039456,0.0,0.0,0.0,0.046373,0.046132,0.054037,0.110924,0.693305,1.838873
min,100001.000000,0.000000,2.694150e+04,4.500000e+04,2295.000000,4.500000e+04,0.000253,-25195.000000,-17463.000000,-23722.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188557.750000,0.000000,1.125000e+05,2.606400e+05,17973.000000,2.250000e+05,0.010006,-19637.000000,-2910.000000,-7459.250000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,277549.000000,0.000000,1.575000e+05,4.500000e+05,26199.000000,3.960000e+05,0.018850,-15785.000000,-1293.000000,-4490.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,367555.500000,1.000000,2.250000e+05,6.750000e+05,37390.500000,6.300000e+05,0.028663,-12496.000000,-296.000000,-1901.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000
max,456250.000000,20.000000,4.410000e+06,2.245500e+06,180576.000000,2.245500e+06,0.072508,-7338.000000,365243.000000,0.000000,...,1.000000,0.0,0.0,0.0,2.000000,2.000000,2.000000,6.000000,7.000000,17.000000

In [7]:
MAX_COLWIDTH = 50

def put_nan_in_front(array, count_array):
    idx = -1
    if (array.dtype == "object"):
        is_string = [type(value) == str for value in array]
        if any(is_string):
            idx = is_string.index(False) if False in is_string else -1
        else:
            idx = -1
    else:
        for dtype in ("int64", "float64"):
            if array.dtype == dtype:
                idx = np.argwhere(np.isnan(np.array(array, dtype=dtype)))
                if idx.size == 0:
                    idx = -1
                else:
                    idx = idx[0][0]
                break

    array = [str(i) for i in array]
    count_array = [int(i) for i in count_array]
    
    if idx != -1:
        array.pop(idx)
        cnt = count_array.pop(idx)
        
        array = ["N/A"] + array
        count_array = [cnt] + count_array
    
    return np.array(array), np.array(count_array)

def string_shortener(string, limit):
    if len(string) > limit:
        string = string[:limit-4] + " ..."
    return string

join = lambda array, delim: delim.join([str(i) for i in array])
join_shorten = lambda array, delim, limit: string_shortener(join(array, delim), limit)
join_shorten_ = lambda array: join_shorten(array, " | ", MAX_COLWIDTH)

def unique_df(df):
    #Create a visualisation dataframe that allows to have more insights on the uniques values of our dataset.
    number_unique = []
    unique = []
    unique_count_values = []
    unique_count_proportions = []

    for column in df.columns:
        unique_value_counts = df[column].value_counts(dropna=False)
        
        sort_by_count = sorted(zip(unique_value_counts.index,
                                   unique_value_counts.values), key=lambda column_count: -column_count[1])  # Sorts the unique values by unique count (decreasing)
        unique_column, unique_count = [np.array([ i for i, j in sort_by_count ]), 
                                       np.array([ j for i, j in sort_by_count ])] 
        
        unique_column, unique_count = put_nan_in_front(unique_column, unique_count)  # NaN values have priority and are always put in front
        
        number_unique.append(len(unique_column))
        unique.append(join_shorten_(unique_column))
        unique_count_values.append(join_shorten_(unique_count))
        unique_count_proportions.append(join_shorten_(map(lambda x: str(x) + "%", np.round(np.round(unique_count/sum(unique_count), 5)*100, 2))))


    df_unique = pd.DataFrame(zip(df.columns, number_unique, [str(dtype) for dtype in df.dtypes], unique, unique_count_values, unique_count_proportions),
                            columns = ["Column name", "# Unique Values", "Data Type", "Unique values", "Unique value counts", "Unique value proportions"])
    return df_unique

In [10]:
df_unique = unique_df(df)

print("Unique values:")
print()
df_unique

Unique values:

,Column name,# Unique Values,Data Type,Unique values,Unique value counts,Unique value proportions
0,SK_ID_CURR,48744,int64,100001 | 336464 | 336413 | 336418 | 336426 | 3...,1 | 1 | 1 | 1 | 1 | 1 | 1 | 1 | 1 | 1 | 1 | 1 ...,0.0% | 0.0% | 0.0% | 0.0% | 0.0% | 0.0% | 0.0%...
1,NAME_CONTRACT_TYPE,2,object,Cash loans | Revolving loans,48305 | 439,99.1% | 0.9%
2,CODE_GENDER,2,object,F | M,32678 | 16066,67.04% | 32.96%
3,FLAG_OWN_CAR,2,object,N | Y,32311 | 16433,66.29% | 33.71%
4,FLAG_OWN_REALTY,2,object,Y | N,33658 | 15086,69.05% | 30.95%
...,...,...,...,...,...,...
116,AMT_REQ_CREDIT_BUREAU_DAY,4,float64,N/A | 0.0 | 1.0 | 2.0,6049 | 42625 | 63 | 7,12.41% | 87.45% | 0.13% | 0.01%
117,AMT_REQ_CREDIT_BUREAU_WEEK,4,float64,N/A | 0.0 | 1.0 | 2.0,6049 | 42579 | 113 | 3,12.41% | 87.35% | 0.23% | 0.01%
118,AMT_REQ_CREDIT_BUREAU_MON,8,float64,N/A | 0.0 | 1.0 | 2.0 | 3.0 | 6.0 | 4.0 | 5.0,6049 | 42341 | 324 | 23 | 4 | 1 | 1 | 1,12.41% | 86.86% | 0.66% | 0.05% | 0.01% | 0.0%...
119,AMT_REQ_CREDIT_BUREAU_QRT,9,float64,N/A | 0.0 | 1.0 | 2.0 | 3.0 | 4.0 | 5.0 | 7.0 ...,6049 | 23559 | 15573 | 2998 | 495 | 57 | 11 | ...,12.41% | 48.33% | 31.95% | 6.15% | 1.02% | 0.1...
120,AMT_REQ_CREDIT_BUREAU_YEAR,17,float64,N/A | 0.0 | 1.0 | 2.0 | 3.0 | 4.0 | 5.0 | 6.0 ...,6049 | 10839 | 9211 | 8489 | 6194 | 3745 | 207...,12.41% | 22.24% | 18.9% | 17.42% | 12.71% | 7....